.bg-cover {
    background-image: url("../images/main-bg-2.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat; 
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.form-signin{
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    background-color: #d5d5d5;
}
input{
    margin-bottom: 10px;
}
img{
    max-width: 500px;
    margin: auto;
    max-height: 200px;
}